---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageFind from "@components/PageFind.astro";
import { GLOBAL } from "@consts";

type Props = {
  title?: string;
  description?: string;
  ogImage?: string;
};

const { title, description, ogImage } = Astro.props;

const finalTitle = title ? `${title} - ${GLOBAL.title}` : GLOBAL.title;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={finalTitle} {description} {ogImage} />
    <script
      async
      defer
      src="https://umami.blasinga.me/script.js"
      data-website-id="05021ee0-9acd-433c-83a6-f9c5a3837c7e"
    ></script>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <PageFind />
  </body>
</html>
